<script setup>
import { computed, ref } from 'vue'
import { useRoute } from 'vue-router'
import { useQuizzStore } from '../../stores/quizz.js'

const quizzStore = useQuizzStore()

const route = useRoute()
const quizzId = route.params.id
const quizzToEdit = ref(quizzStore.quizz.find((quizz) => quizz.id == quizzId))

const title = ref(quizzToEdit.value ? quizzToEdit.value.title : '')
const description = ref(quizzToEdit.value ? quizzToEdit.value.description : '')
const questions = ref(quizzToEdit.value ? quizzToEdit.value.questions : [])

const canSaveForm = computed(() => {
  let canSave = false
  let questionsValid = false
  canSave = title.value.length > 0 && questions.value.length > 0

  if (canSave) {
    questionsValid = questions.value
      .map((question) => {
        return question.answers.some((answer) => answer.checked == true)
      })
      .every((elm) => elm == true)
  }
  return canSave && questionsValid
})

function addQuestion() {
  const question = {
    question: '',
    answers: [
      {
        answer: '',
        checked: true
      }
    ]
  }
  questions.value.push(question)
}

function addAnswer(idx) {
  questions.value[idx].answers.push({
    answer: '',
    checked: false
  })
}

function clearAnswer(idxQuestion, indexAnswer) {
  questions.value[idxQuestion].answers = questions.value[idxQuestion].answers.filter(
    (elm, index) => index !== indexAnswer
  )
}

function addQuizz() {
  const quizz = {
    id: quizzToEdit.value ? quizzToEdit.value.id : crypto.randomUUID(),
    title: title.value,
    description: description.value,
    questions: questions.value
  }
  if (quizzToEdit.value) {
    quizzStore.editQuizz(quizz)
  } else {
    quizzStore.addQuizz(quizz)
  }
  initQuizz()
}

function initQuizz() {
  title.value = ''
  description.value = ''
  questions.value = []
  quizzToEdit.value = undefined
}
</script>

<template>
  <h2>Quizz form</h2>
  <v-text-field v-model="title" label="title" variant="outlined"></v-text-field>
  <v-textarea v-model="description" label="Description" variant="outlined"></v-textarea>
  <v-card v-for="(question, idx) in questions" :key="idx" class="my-4 pa-4">
    <h3>QUESTION {{ idx + 1 }}</h3>
    <v-text-field v-model="question.question" label="question" variant="outlined"></v-text-field>
    <div v-for="(answer, idx2) in question.answers" :key="idx2" class="d-flex align-center">
      <v-btn
        icon="mdi-minus"
        size="x-small"
        class="mr-8"
        color="warning"
        @click="clearAnswer(idx, idx2)"
      ></v-btn>
      <v-text-field
        v-model="answer.answer"
        :label="`answer ${idx2 + 1}`"
        variant="outlined"
      ></v-text-field>
      <v-checkbox v-model="answer.checked" label="checked" variant="outlined"></v-checkbox>
    </div>
    <v-btn prepend-icon="mdi-plus" @click="addAnswer(idx)">Add answer</v-btn>
  </v-card>
  <v-btn prepend-icon="mdi-plus" @click="addQuestion">Add question</v-btn>
  <br />
  <v-btn
    block
    color="indigo-darken-3"
    size="x-large"
    variant="flat"
    class="mt-12"
    :disabled="!canSaveForm"
    @click="addQuizz"
    >{{ quizzToEdit ? 'EDIT' : 'SAVE' }} QUIZZ</v-btn
  >
</template>
