<script setup>
import { computed, ref } from 'vue'
// import router from '@/router'
import { useRoute } from 'vue-router'
import { useQuizzV2Store } from '../../stores/quizzV2.js'

const quizzV2Store = useQuizzV2Store()

const route = useRoute()
const quizzId = route.params.id
const quizzToEdit = quizzV2Store.quizzList.find((quizz) => quizz.id == quizzId)

const title = ref(quizzToEdit ? quizzToEdit.title : '')
const description = ref(quizzToEdit ? quizzToEdit.description : '')
const questions = ref(quizzToEdit ? quizzToEdit.questions : [])
const quizzRecorded = ref(false)

const canSaveForm = computed(() => {
  let canSave = false
  let questionsValid = false
  canSave = title.value.length > 0 && questions.value.length > 0

  if (canSave) {
    questionsValid = questions.value
      .map((question) => {
        return question.answers.some((answer) => answer.isCorrect == true)
      })
      .every((elm) => elm == true)
  }
  return canSave && questionsValid
})

function addQuestion() {
  const question = {
    question: '',
    answers: [
      {
        answer: '',
        isCorrect: false
      }
    ]
  }
  questions.value.push(question)
}

function saveQuizz() {
  const quizz = {
    id: quizzToEdit ? quizzToEdit.id : crypto.randomUUID(),
    title: title.value,
    description: description.value,
    questions: questions.value
  }
  if (quizzToEdit) {
    quizzV2Store.editQuizz(quizz)
  } else {
    quizzV2Store.addQuizz(quizz)
  }
  quizzRecorded.value = true
}

function addAnswer(idx) {
  questions.value[idx].answers.push({
    answer: '',
    isCorrect: false
  })
}

function reinitQuizz() {
  title.value = ''
  description.value = ''
  questions.value = []
  quizzRecorded.value = false
}
</script>

<template>
  <h1>QUIZZ V2</h1>
  <div v-if="quizzRecorded">
    <p>Votre Quizz {{ title }} est enregistré</p>
    <v-btn @click="reinitQuizz">Faire un nouveau quizz</v-btn>
  </div>

  <v-form v-else @submit.prevent>
    <v-text-field v-model="title" label="title" variant="outlined"></v-text-field>
    <v-textarea v-model="description" label="Description" variant="outlined"></v-textarea>
    <!-- QUESTIONS LIST -->
    <div v-for="(questionObj, idx) in questions" :key="idx">
      <v-text-field v-model="questionObj.question" :label="`question ${idx + 1}`"></v-text-field>
      <!-- ANSWERS LIST -->
      <div v-for="(answerObj, idx2) in questionObj.answers" :key="idx2" class="d-flex">
        <v-text-field v-model="answerObj.answer" :label="`answer ${idx2 + 1}`"></v-text-field>
        <v-checkbox v-model="answerObj.isCorrect"></v-checkbox>
      </div>
      <v-btn @click="addAnswer(idx)">Add answer</v-btn>
    </div>

    <v-btn @click="addQuestion">Add question</v-btn>
    <v-btn @click="saveQuizz" :disabled="!canSaveForm">Add quizz</v-btn>
  </v-form>
</template>
