<script setup>
const props = defineProps({
  score: Number,
  total: Number
})
</script>

<template>
  <v-card>
    <div class="score-result">
      <h2 class="text-h4">SCORE</h2>
      <p class="text-h2">{{ props.score }} / {{ props.total }}</p>
      <slot></slot>
    </div>
  </v-card>
</template>

<style scoped>
.score-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
</style>
