<script setup>
import { ref } from 'vue'
const isOn = ref(false)

const firstname = ref('')
const lastname = ref('')
const langOptions = ref([
  { lang: 'JS', selected: false },
  { lang: 'VueJS', selected: false },
  { lang: 'HTML', selected: false },
  { lang: 'CSS', selected: false }
])

function addChip(idx) {
  langOptions.value[idx].selected = !langOptions.value[idx].selected
}

function eraseForm() {
  langOptions.value.forEach((elm) => (elm.selected = false))
  firstname.value = ''
  lastname.value = ''
}
</script>

<template>
  <v-card class="mt-12 pa-8">
    <v-icon size="large" color="primary" icon="mdi-account-wrench"></v-icon>
    <v-switch v-model="isOn" color="primary" label="Switch"></v-switch>
    <pre>isOn: {{ isOn }}</pre>
    <form v-show="isOn" @submit.prevent>
      <v-text-field v-model="firstname" :rules="rules" label="firstname"></v-text-field>
      <v-text-field v-model="lastname" label="lastName"></v-text-field>
      <p class="font-weight-medium">Select something</p>
      <v-chip
        v-for="(option, idx) in langOptions"
        :key="idx"
        :variant="option.selected ? 'outlined' : ''"
        class="mx-1"
        @click="addChip(idx)"
        >{{ option.lang }}</v-chip
      >
      <div class="mt-12 d-flex justify-space-between">
        <v-btn color="warning" @click="eraseForm">Erase</v-btn>
        <v-btn color="primary" :disabled="!(firstname.length > 2)" @click="isOn = false"
          >valid</v-btn
        >
      </div>
    </form>
  </v-card>
</template>
