<template>
  <div class="about">
    <h1>About</h1>

    <h2>Some links</h2>
    <ul>
      <li>
        <a href="https://www.youtube.com/@LachlanMiller" target="_blank" rel="noopener noreferrer"
          >Lachlan Miller YouTube</a
        >
      </li>
      <li>
        <a href="https://michaelnthiessen.com/articles" target="_blank" rel="noopener noreferrer"
          >Michael Thiessen</a
        >
      </li>
      <li>
        <a href="https://twitter.com/MichaelThiessen" target="_blank" rel="noopener noreferrer"
          >Michael Thiessen Twitter</a
        >
      </li>
    </ul>
  </div>
</template>
