<script setup>
import { ref } from 'vue'
import SimpleForm from '../components/testVuetify/SimpleForm.vue'
import { groupBy } from '../utils/groupBy.js'

const tab = ref(null)

const inventory = [
  { name: 'asparagus', type: 'vegetables', quantity: 5 },
  { name: 'bananas', type: 'fruit', quantity: 0 },
  { name: 'goat', type: 'meat', quantity: 23 },
  { name: 'cherries', type: 'fruit', quantity: 5 },
  { name: 'fish', type: 'meat', quantity: 22 }
]

console.log(groupBy(inventory, 'type'))
</script>

<template>
  <h1>Home view</h1>

  <p class="text-h3 mb-8">Some test with vuetify components</p>
  <v-btn color="primary">Button</v-btn>
  <div>
    <v-progress-circular model-value="20" indeterminate></v-progress-circular>
  </div>
  <!-- <v-progress-linear class="my-8" indeterminate></v-progress-linear> -->

  <v-tooltip text="Some information here">
    <template v-slot:activator="{ props }">
      <v-btn v-bind="props">Tooltip</v-btn>
    </template>
  </v-tooltip>

  <v-card class="pa-8"> tab : {{ tab }} </v-card>

  <v-card>
    <v-tabs v-model="tab" bg-color="primary">
      <v-tab value="one">Item One</v-tab>
      <v-tab value="two">Item Two</v-tab>
      <v-tab value="three">Item Three</v-tab>
    </v-tabs>

    <v-card-text>
      <v-window v-model="tab">
        <v-window-item value="one"> One </v-window-item>

        <v-window-item value="two"> Two </v-window-item>

        <v-window-item value="three"> Three </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
  <SimpleForm></SimpleForm>
</template>
