<script setup>
import { computed, ref } from 'vue'
import { useMovieStore } from '@/stores/movies'
import DataCard from '../components/DataCard.vue'

const movieStore = useMovieStore()
movieStore.fetchMovies()

const typesAvailable = computed(() => {
  return movieStore.movieType.reduce((acc, cur) => acc + ' ' + cur, '')
})

const typeCards = computed(() => {
  return movieStore.movieType.map((type) => {
    const v = movieStore.first200.filter((elm) => elm.type == type)

    return {
      label: type,
      value: v.length,
      total: 200
    }
  })
})

function showDetailItem(item) {
  itemDetails.value = item
  openDialog.value = true
}
</script>

<template>
  <h2>Movie view</h2>
  <p class="mb-4">Types: {{ typesAvailable }}</p>
  <div class="d-flex">
    <DataCard
      class="mr-8"
      v-for="card in typeCards"
      :key="card.label"
      :label="card.label"
      :value="card.value"
      :total="card.total"
    ></DataCard>
  </div>

  <v-progress-linear
    v-show="movieStore.loadingMovies"
    color="primary"
    indeterminate
  ></v-progress-linear>
</template>
