<script setup>
import { computed, ref } from 'vue'
import { useMovieStore } from '@/stores/movies'
import DataCard from '../components/DataCard.vue'
import SuperFilter from '@/components/common/SuperFilter.vue'

const movieStore = useMovieStore()
movieStore.fetchMovies()

const headers = [
  {
    title: 'Type',
    align: 'start',
    key: 'type',
    sortable: true
  },
  { title: 'Titre', key: 'title', align: 'start', sortable: true },
  { title: 'Director', key: 'director', align: 'start', sortable: false },
  { title: 'Année', key: 'release_year', align: 'start', sortable: true },
  { title: 'Actions', key: 'actions', align: 'end', sortable: false }
]

const itemDetails = ref(null)
const openDialog = ref(false)
const filtered = ref([])

const typesAvailable = computed(() => {
  return movieStore.movieType.reduce((acc, cur) => acc + ' ' + cur, '')
})

const typeCards = computed(() => {
  return movieStore.movieType.map((type) => {
    const v = movieStore.first200.filter((elm) => elm.type == type)

    return {
      label: type,
      value: v.length,
      total: 200
    }
  })
})

function showDetailItem(item) {
  itemDetails.value = item
  openDialog.value = true
}

function setFiltered(elms) {
  filtered.value = elms
}
</script>

<template>
  <h2>Movie view</h2>
  <p class="mb-4">Types: {{ typesAvailable }}</p>
  <div class="d-flex">
    <DataCard
      class="mr-8"
      v-for="card in typeCards"
      :key="card.label"
      :label="card.label"
      :value="card.value"
      :total="card.total"
    ></DataCard>
    <DataCard
      class="mr-8"
      label="Match in search"
      :value="filtered.length"
      :total="movieStore.first200.length"
    ></DataCard>
  </div>

  <v-progress-linear
    v-show="movieStore.loadingMovies"
    color="primary"
    indeterminate
  ></v-progress-linear>

  <SuperFilter
    :dataList="movieStore.first200"
    :keyToSearch="['title', 'type', 'release_year']"
    @filteredList="setFiltered"
  ></SuperFilter>

  <!-- <v-data-table :headers="headers" :items="movieStore.first200" :loading="movieStore.loadingMovies"> -->
  <v-data-table :headers="headers" :items="filtered" :loading="movieStore.loadingMovies">
    <template v-slot:item.actions="{ item }">
      <v-icon size="small" class="me-2" @click="showDetailItem(item)"> mdi-eye-outline </v-icon>
    </template>
  </v-data-table>

  <v-dialog v-model="openDialog" width="400">
    <div>
      <v-card>
        <template v-slot:title> {{ itemDetails.title }} </template>

        <template v-slot:subtitle
          >{{ itemDetails.duration }} | {{ itemDetails.release_year }}
        </template>

        <template v-slot:text>
          <div>
            <p><b>Description:</b> {{ itemDetails?.description ?? '...' }}</p>
          </div>
        </template>

        <v-card-actions class="d-flex justify-space-between">
          <v-btn color="warning" @click="openDialog = false">Fermer</v-btn>
          <v-btn color="primary">Voir la fiche de détails</v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </v-dialog>
</template>
