<script setup>
import { useRoute } from 'vue-router'
import { computed, ref } from 'vue'
import { useQuizzStore } from '@/stores/quizz'
import QuizzScore from '@/components/quizz/QuizzScore.vue'

const quizzStore = useQuizzStore()

const route = useRoute()

const quizzId = route.params.id
const quizz = quizzStore.quizz.find((quizz) => quizz.id === quizzId)
const questionIdx = ref(0)
const score = ref(0)
const userAnswer = ref(Array(quizz.questions[questionIdx.value].answers.length).fill(false))
const showScore = ref(false)

const userAnswered = computed(() => userAnswer.value.some((elm) => elm == true))

function getQuestionScore() {
  const res = quizz.questions[questionIdx.value].answers.map((elm) => elm.checked)
  if (res.join() == userAnswer.value.join()) {
    score.value++
  }
  if (questionIdx.value < quizz.questions.length - 1) {
    questionIdx.value++
    userAnswer.value = Array(quizz.questions[questionIdx.value].answers.length).fill(false)
  } else {
    saveResult()
    showScore.value = true
  }
}

function saveResult() {
  const result = {
    quizzId: quizz.id,
    score: score.value,
    questionsLength: quizz.questions.length
  }

  quizzStore.addResult(result)
}
</script>

<template>
  <h1>{{ quizz.title }}</h1>
  <p>{{ quizz.description }}</p>

  <QuizzScore v-if="showScore" :score="score" :total="quizz.questions.length" class="my-8">
    <v-btn :to="{ name: 'quizz' }" color="success">Go Quizz Home</v-btn>
  </QuizzScore>

  <div v-else>
    <h2>{{ quizz.questions[questionIdx].question }}</h2>
    <div v-for="(response, idx) in quizz.questions[questionIdx].answers" :key="idx">
      <v-checkbox v-model="userAnswer[idx]" :label="response.answer"></v-checkbox>
    </div>
    <div class="d-flex justify-end">
      <v-btn @click="getQuestionScore" :disabled="!userAnswered">Next</v-btn>
    </div>
  </div>
</template>
