<script setup>
import { useQuizzStore } from '@/stores/quizz'

const quizzStore = useQuizzStore()
</script>

<template>
  <h1>QuizzList</h1>
  <ul>
    <li v-for="quizzItem in quizzStore.quizz" :key="quizzItem.id">
      {{ quizzItem.title }}
      <v-btn :to="`/quizzgame/${quizzItem.id}`">PLAY</v-btn>
    </li>
  </ul>
</template>
