<script setup>
import router from '@/router'
import { useQuizzStore } from '@/stores/quizz'

const quizzStore = useQuizzStore()

quizzStore.fetchQuizz()

// function goToQuizz(quizzId) {
//   router.push({ name: 'quizzdetail', params: { id: quizzId } })
// }

function editQuizz(quizzId) {
  router.push({ name: 'quizzmakeredit', params: { id: quizzId } })
}

function deleteQuizz(quizzId) {
  quizzStore.deleteQuizz(quizzId)
}
</script>

<template>
  <h1>Quizz list</h1>
  <div v-show="quizzStore.quizz.length == 0" class="py-8">
    <p class="mb-4">No quizz avilable</p>
    <v-btn :to="{ name: 'quizzmaker' }" color="success">Create a new quizz</v-btn>
  </div>

  <!-- <ul>
    <li v-for="quizz in quizzStore.quizz" :key="quizz.id">
      {{ quizz.title }}
      <v-btn @click="goToQuizz(quizz.id)">{{ quizz.title }}</v-btn>
      <v-btn :href="`/quizz/${quizz.id}`">{{ quizz.title }}</v-btn>
      <v-btn :to="{ name: 'quizzdetail', params: { id: quizz.id } }">{{ quizz.title }}</v-btn>
    </li>
  </ul> -->

  <v-list density="compact" class="pa-6">
    <v-list-item
      v-for="quizz in quizzStore.quizz"
      :key="quizz.id"
      class="my-8 rounded-lg pa-8"
      :elevation="isHovering ? 24 : 6"
    >
      <h2 class="text-h2">{{ quizz.title }}</h2>
      <p class="text-h6 mb-4">{{ quizz.description }}</p>
      <p>{{ quizz.questions.length }} Questions</p>
      <v-btn
        class="mt-2"
        block
        size="x-large"
        color="success"
        :to="{ name: 'quizzdetail', params: { id: quizz.id } }"
        >Start</v-btn
      >
      <details class="mt-4">
        <summary>Options</summary>
        <div class="my-4 d-flex justify-space-between">
          <v-btn color="info" @click="editQuizz(quizz.id)">Edit</v-btn>
          <v-btn color="error" @click="deleteQuizz(quizz.id)">Delete</v-btn>
        </div>
      </details>
    </v-list-item>
  </v-list>
</template>

<style scoped>
details {
  background: rgb(240, 240, 240);
  padding: 16px;
  border-radius: 4px;
}
</style>

`/quizz/${maVariable}``
