<script setup>
import { computed } from 'vue'
import { useQuizzStore } from '@/stores/quizz'
import DataCard from '@/components/DataCard.vue'

const quizzStore = useQuizzStore()

const headers = [
  { title: 'Titre', key: 'title', align: 'start', sortable: true },
  { title: 'Result', key: 'score', align: 'start', sortable: true },
  { title: 'Questions', key: 'questionsLength', align: 'start', sortable: true },
  { title: 'Percent', key: 'percent', align: 'start', sortable: true },
  { title: 'Actions', key: 'actions', align: 'end', sortable: false }
]

const resultsWithQuizName = computed(() => {
  const results = quizzStore.results
  return results.map((elm) => {
    const title = quizzStore.quizz.find((quizz) => quizz.id == elm.quizzId)['title'] || 'Not found'
    const percent = (elm.score * 100) / elm.questionsLength
    return { ...elm, title, percent }
  })
})

function editQuizz(quizzId) {
  console.log('Edit Quizz: ', quizzId)
}
</script>

<template>
  <h1>Quizz stats</h1>
  <div class="d-flex">
    <DataCard :value="quizzStore.quizz.length" label="Quizz available" class="mr-8"></DataCard>
    <DataCard :value="quizzStore.results.length" label="Plays"></DataCard>
  </div>
  <v-data-table :headers="headers" :items="resultsWithQuizName">
    <template v-slot:item.percent="{ item }"> {{ item.percent }} % </template>
    <template v-slot:item.actions="{ item }">
      <v-icon size="small" class="me-2" @click="editQuizz(item.quizzId)"> mdi-eye-outline </v-icon>
    </template>
  </v-data-table>
</template>
