<script setup>
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import { useQuizzStore } from '@/stores/quizz'

const quizzStore = useQuizzStore()

const route = useRoute()
const quizzId = route.params.id
const score = ref(0)
const displayScore = ref(false)

const quizzToPlay = quizzStore.quizz.find((elm) => elm.id == quizzId)

const questionIdx = ref(0)
const userResponses = ref(
  new Array(quizzToPlay.questions[questionIdx.value].answers.length).fill(false)
)

function nextQuestion() {
  if (questionIdx.value < quizzToPlay.questions.length - 1) {
    if (userAnswerIsOk()) {
      score.value++
    }
    questionIdx.value++
    // -- Reinit user responses
    userResponses.value = new Array(quizzToPlay.questions[questionIdx.value].answers.length).fill(
      false
    )
  } else {
    if (userAnswerIsOk()) {
      score.value++
    }
    displayScore.value = true
  }
}

function userAnswerIsOk() {
  let goodAnswers = quizzToPlay.questions[questionIdx.value].answers.map((elm) => elm.checked)
  const goodAnswersString = goodAnswers.join('')
  const userResponsesString = userResponses.value.join('')
  return goodAnswersString == userResponsesString
}
</script>

<template>
  <h2>QUIZZ GAME</h2>
  <p>quizzId: {{ quizzId }}</p>
  <h3>SCORE: {{ score }}</h3>

  <div v-if="displayScore">
    <h2>SCORE</h2>
    <p>SCORE: {{ score }} / {{ quizzToPlay.questions.length }}</p>
    <v-btn to="/quizzlist">Back quizz list</v-btn>
  </div>
  <div v-else>
    <h2>{{ quizzToPlay.questions[questionIdx].question }}</h2>
    <div
      v-for="(answer, idx) in quizzToPlay.questions[questionIdx].answers"
      :key="idx"
      class="d-flex"
    >
      <p>{{ answer.answer }}</p>
      <v-checkbox v-model="userResponses[idx]"></v-checkbox>
    </div>
    <v-btn @click="nextQuestion">Next question</v-btn>
  </div>
</template>
