<script setup>
import TodoForm from '../components/todo/TodoForm.vue'
import TodoList from '../components/todo/TodoList.vue'
</script>

<template>
  <h1>TO DO LIST</h1>
  <TodoForm></TodoForm>
  <TodoList></TodoList>
</template>
