/** { id: String, title: String, description: String weight: Number, created: Number closed: Number
status: TODO | DONE } */

<script setup>
import { computed, ref } from 'vue'
import WeightElm from './WeightElm.vue'
import { useTodoStore } from '../../stores/todo.js'

const todoStore = useTodoStore()
const props = defineProps({
  taskToEdit: {
    type: Object
  }
})

const title = ref(props?.taskToEdit?.title ?? '')
const description = ref(props?.taskToEdit?.description ?? '')
const weight = ref(props?.taskToEdit?.weight ?? 0)
const isInEditMode = ref(props.taskToEdit !== undefined ? true : false)

const canSave = computed(() => {
  return title.value.length > 2
})

function addTask() {
  const task = {
    id: crypto.randomUUID(),
    title: title.value,
    description: description.value,
    weight: weight.value,
    created: new Date().getTime(),
    closed: null,
    status: 'TODO'
  }

  todoStore.addTodo(task)
  initState()
}

function initState() {
  title.value = ''
  description.value = ''
  weight.value = 0
}
</script>

<template>
  <h2>Todo form {{ isInEditMode ? '(EDIT MODE)' : '' }}</h2>
  <v-card class="pa-4" width="332">
    <v-sheet width="300">
      <v-form fast-fail @submit.prevent>
        <v-text-field v-model="title" label="titre" variant="outlined"></v-text-field>

        <v-textarea v-model="description" label="Description" variant="outlined"></v-textarea>

        <p>Priorité</p>
        <WeightElm @weight="(v) => (weight = v)"></WeightElm>
        <v-btn
          type="submit"
          block
          color="primary"
          class="mt-4"
          :disabled="!canSave"
          @click="addTask"
          >Ajouter</v-btn
        >
      </v-form>
    </v-sheet>
  </v-card>
</template>
