<script setup>
import { ref } from 'vue'
import { useTodoStore } from '../../stores/todo.js'

const todoStore = useTodoStore()
const headers = [
  {
    title: 'TÂCHE',
    key: 'title'
  },
  {
    title: 'PRIORITÉ',
    key: 'weight'
  },
  {
    title: 'ÉTAT',
    key: 'status'
  },
  {
    title: 'CRÉE',
    key: 'created'
  },
  {
    title: 'Actions',
    key: 'actions',
    align: 'end'
  }
]

const taskDetails = ref(null)
const openDialog = ref(false)

function showDetail(item) {
  taskDetails.value = item
  openDialog.value = true
}

function changeStatus(item) {
  todoStore.updateStatus(item.id)
}

function deleteItem(item) {
  todoStore.deleteTask(item.id)
}
</script>

<template>
  <h2>To do list</h2>
  <v-data-table-virtual :headers="headers" :items="todoStore.todo" height="400" item-value="name">
    <template v-slot:item.created="{ item }">
      {{ new Date(item.created).toLocaleString() }}
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon size="small" class="me-2" @click="showDetail(item)"> mdi-eye </v-icon>
      <v-icon size="small" class="me-2" @click="changeStatus(item)">
        {{ item.status == 'TODO' ? 'mdi-check' : 'mdi-check-all' }}
      </v-icon>
      <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
  </v-data-table-virtual>

  <v-dialog v-model="openDialog" width="400">
    <v-card class="pa-4">
      <template v-slot:title>
        {{ taskDetails.title }}
        <v-chip>{{ taskDetails.status }}</v-chip>
      </template>
      <v-card-text>
        {{ taskDetails.description || 'no description' }}
        <p>Created: {{ new Date(taskDetails.created).toLocaleString() }}</p>
        <p v-if="taskDetails.status == 'DONE'">
          Closed: {{ new Date(taskDetails.closed).toLocaleString() }}
        </p>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
