<script setup>
import { ref } from 'vue'
const props = defineProps({
  min: {
    type: Number,
    default: 0
  },
  max: {
    type: Number,
    default: 10
  }
})

const emits = defineEmits(['weight'])

const weight = ref(props.min)

function decrement() {
  if (weight.value > props.min) {
    weight.value--
    emits('weight', weight.value)
  }
}
function increment() {
  if (weight.value < props.max) {
    weight.value++
    emits('weight', weight.value)
  }
}
</script>

<template>
  <div class="d-flex justify-space-between align-self-center">
    <v-btn @click="decrement">sub</v-btn>
    <p>{{ weight }}</p>
    <v-btn @click="increment">add</v-btn>
  </div>
</template>
