<script setup>
const props = defineProps({
  label: String,
  value: Number,
  total: Number
})
</script>

<template>
  <v-card class="pa-4 mb-12" elevation="4" min-width="300px" color="indigo-darken-3">
    <div class="font-weight-medium d-flex align-end">
      <h4 color="white">{{ props.value }}</h4>
      <p v-if="props.total" class="mx-1">/</p>
      <h5 class="font-weight-light">{{ props.total }}</h5>
    </div>
    <p color="surface">{{ props.label }}</p>
  </v-card>
</template>

<style scoped>
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}
</style>
