<script setup>
import { ref } from 'vue'

const headers = [
  {
    title: 'Type',
    align: 'start',
    key: 'type',
    sortable: true
  },
  { title: 'Titre', key: 'title', align: 'start', sortable: true },
  { title: 'Director', key: 'director', align: 'start', sortable: false },
  { title: 'Année', key: 'release_year', align: 'start', sortable: true },
  { title: 'Actions', key: 'actions', align: 'end', sortable: false }
]

const itemDetails = ref(null)
const openDialog = ref(false)
</script>

<template>
  <v-data-table :headers="headers" :items="movieStore.first200" :loading="movieStore.loadingMovies">
    <template v-slot:item.actions="{ item }">
      <v-icon size="small" class="me-2" @click="showDetailItem(item)"> mdi-eye-outline </v-icon>
    </template>
  </v-data-table>

  <v-dialog v-model="openDialog" width="400">
    <div>
      <v-card>
        <template v-slot:title> {{ itemDetails.title }} </template>

        <template v-slot:subtitle
          >{{ itemDetails.duration }} | {{ itemDetails.release_year }}
        </template>

        <template v-slot:text>
          <div>
            <p><b>Description:</b> {{ itemDetails?.description ?? '...' }}</p>
          </div>
        </template>

        <v-card-actions class="d-flex justify-space-between">
          <v-btn color="warning" @click="openDialog = false">Fermer</v-btn>
          <v-btn color="primary">Voir la fiche de détails</v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </v-dialog>
</template>
