<script setup>
import { computed, ref, watch } from 'vue'

const props = defineProps({
  dataList: {
    type: Array,
    default: () => []
  },
  keyToSearch: {
    type: Array,
    default: () => []
  },
  width100: {
    type: Boolean,
    default: false
  }
})
const emit = defineEmits(['filteredList'])

const searchExpression = ref('')

const filteredList = computed(() => {
  if (searchExpression.value == '') return props.dataList
  return filterBySearch(props.dataList, searchExpression.value, props.keyToSearch)
})

watch(filteredList, (nVal) => emit('filteredList', nVal))

function filterBySearch(list, search, keys = null) {
  return list.filter((elm) => {
    return keys.some((k) =>
      String(k.split('.').reduce((acc, curr) => acc[curr], elm))
        .toString()
        .toLowerCase()
        .includes(search.toLowerCase())
    )
  })
}
</script>

<template>
  <div>
    <v-text-field v-model="searchExpression" label="Super Filter" variant="outlined"></v-text-field>
  </div>
</template>

<style scoped></style>
