<script setup>
import { RouterLink, RouterView } from 'vue-router'
import { ref } from 'vue'

const drawer = ref(true)
</script>

<template>
  <v-layout class="rounded rounded-md">
    <v-app-bar title="My app here">
      <template v-slot:prepend>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </template>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer">
      <v-list density="compact">
        <v-list-item></v-list-item>
        <RouterLink to="/">
          <v-list-item prepend-icon="mdi-home-variant" title="Home"> </v-list-item>
        </RouterLink>
        <RouterLink to="/about">
          <v-list-item prepend-icon="mdi-information-box-outline" title="About"> </v-list-item>
        </RouterLink>
        <RouterLink to="/movies">
          <v-list-item prepend-icon="mdi-movie" title="Movies"> </v-list-item>
        </RouterLink>
        <RouterLink to="/quizz">
          <v-list-item prepend-icon="mdi-gamepad-down" title="Quizz"> </v-list-item>
        </RouterLink>
        <RouterLink to="/quizzmaker">
          <v-list-item prepend-icon="mdi-format-list-bulleted-type" title="Quizz form">
          </v-list-item>
        </RouterLink>
        <RouterLink to="/quizzstats">
          <v-list-item prepend-icon="mdi-chart-line" title="Quizz stats"> </v-list-item>
        </RouterLink>
        <RouterLink to="/todo">
          <v-list-item prepend-icon="mdi-checkbox-marked-circle-plus-outline" title="To Do">
          </v-list-item>
        </RouterLink>
        <v-divider class="my-4"></v-divider>
        <RouterLink to="/quizzformv2">
          <v-list-item title="Quizz form V2"> </v-list-item>
        </RouterLink>
        <RouterLink to="/quizzlist">
          <v-list-item title="Quizz list"> </v-list-item>
        </RouterLink>
      </v-list>
    </v-navigation-drawer>

    <v-main class="ma-12" style="min-height: 300px; background: '#E0E0E0'">
      <RouterView />
    </v-main>
  </v-layout>
</template>

<style scoped>
a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: var(--v-theme-primary-overlay-multiplier);
  font-weight: bold;
}
</style>
